/* Bouton principal personnalisé */
a.md-button.md-button--primary {
  background-color: #007eff;  /* ta couleur principale HEX */
  color: white;               /* couleur du texte */
  border: none;
}

a.md-button.md-button--primary:hover {
  background-color: #00ffcf;  /* couleur au survol */
}

/* Changer la couleur du lien actif dans la navigation de gauche */
.md-nav__item--active > .md-nav__link {
  color: #6eb7ff !important;
  font-weight: normal;
}

.md-nav__link--active {
  color: #6eb7ff !important;  /* ta couleur personnalisée */
  font-weight: normal;
}

@media screen and (max-width: 960px) {
  .md-dialog__inner {
    background-color: #6eb7ff !important;  /* Couleur de fond personnalisée */
  }
}

/* Étend la largeur max de la zone centrale */
.md-grid {
    max-width: 1400px;  /* ajuste selon ce que tu veux */
}

/* Optionnel : centre encore mieux sur très grands écrans */
.md-main__inner {
    margin: 0 auto;
}

/* body {
    color: #000000;  /* remplace par la couleur que tu veux */
/*} */

.md-header {
    background-color: #0080ff91 !important;  /* Bleu marine par exemple */
}

/* Couleur du texte/logo dans le bandeau */
.md-header .md-header__title,
.md-header .md-header__button {
    color: #ffffff !important;
}